<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title><?php echo C('HTML_HEAD_TITLE');?></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
    <include file="./Application/Home/View/Public/tpl/seo_meta.htmls" />

   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <link href="__PUBLIC__/Home/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="__PUBLIC__/Home/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->
   
   <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
   <link href="__PUBLIC__/Home/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />               
   <!-- END PAGE LEVEL PLUGIN STYLES -->

   <!-- BEGIN THEME STYLES --> 
   <link href="__PUBLIC__/Home/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="__PUBLIC__/Home/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="__PUBLIC__/Home/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="__PUBLIC__/Home/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->

    <style>
     .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
   <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>
    
    <!-- BEGIN HEADER -->
    <include file="./Application/Home/View/Public/tpl/header.html" />
    <!-- END HEADER -->

    <!-- BEGIN PAGE CONTAINER -->  
    <div class="page-container">
	
        <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h4>联系我们</h4>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="index.html">首页</a></li>
                        <!-- <li><a href="">Pages</a></li> -->
                        <li class="active">联系我们</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->
        <br/>
		<!-- BEGIN GOOGLE MAP -->
		<div class="row" style="TEXT-ALIGN: center;">
			<div id="map" class="gmaps margin-bottom-40" style="MARGIN-RIGHT: auto;MARGIN-LEFT: auto;width:90%;height:400px;border:#ccc solid 1px;"></div>
		</div>
		<!-- END GOOGLE MAP -->

		<!-- BEGIN CONTAINER -->   

		<div class="container min-hight" style="display:none;">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<h2>Contact Form</h2>
					<p>Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer adipiscing elit, sed diam nonummy nibh euismod tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="space20"></div>
					<!-- BEGIN FORM-->
					<form action="#" class="horizontal-form margin-bottom-40" role="form">
						<div class="form-group">
							<label class="control-label">名称</label>
							<div class="col-lg-12">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" >邮箱 <span class="color-red">*</span></label>
							<div class="col-lg-12">
								<input type="text" class="form-control" >
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" >消息内容</label>
							<div class="col-lg-12">
								<textarea class="form-control" rows="8"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-default theme-btn"><i class="icon-ok"></i> 发送</button>
						<button type="button" class="btn btn-default">取消</button>
					</form>
					<!-- END FORM-->                  
				</div>

				<div class="col-md-3 col-sm-3">
					<h2>联系地址</h2>
					<address>
						<strong>Loop, Inc.</strong><br>
						795 Park Ave, Suite 120<br>
						San Francisco, CA 94107<br>
						<abbr title="Phone">P:</abbr> (234) 145-1810
					</address>
					<address>
						<strong>邮箱</strong><br>
						<a href="mailto:#">watchmen@watchmen.cn</a><br>
						<a href="mailto:#">support@example.com</a>
					</address>
					<ul class="social-icons margin-bottom-10">
						<li><a href="#" data-original-title="facebook" class="facebook"></a></li>
						<li><a href="#" data-original-title="github" class="github"></a></li>
						<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
						<li><a href="#" data-original-title="linkedin" class="linkedin"></a></li>
						<li><a href="#" data-original-title="rss" class="rss"></a></li>
					</ul>

					<div class="clearfix margin-bottom-30"></div>

					<h2>About Us</h2>
					<p>Sediam nonummy nibh euismod tation ullamcorper suscipit</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
						<li><i class="fa fa-check"></i> Consectetur adipiscing </li>
						<li><i class="fa fa-check"></i> Deserunt fpicia</li>
					</ul>                                
				</div>            
			</div>
		</div>
   
		<!-- END CONTAINER -->

	</div>
    <!-- END PAGE CONTAINER -->  

    <!-- BEGIN FOOTER -->
    <include file="./Application/Home/View/Public/tpl/footer.htmlss" />
    <!-- END FOOTER -->

    <!-- BEGIN COPYRIGHT -->
    <include file="./Application/Home/View/Public/tpl/copyright.html" />
    <!-- END COPYRIGHT -->
    
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Home/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="__PUBLIC__/Home/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script type="text/javascript" src="__PUBLIC__/Home/plugins/hover-dropdown.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/plugins/back-to-top.js"></script>    
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="__PUBLIC__/Home/plugins/fancybox/source/jquery.fancybox.pack.js"></script>

    <script src="__PUBLIC__/Home/scripts/contact-us.js"></script>  
    <script src="__PUBLIC__/Home/scripts/app.js"></script>  -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript">
        // jQuery(document).ready(function() {    
        //    App.init();
        //    ContactUs.init();
        // });



       //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("map");//在百度地图容器中创建一个地图
        var point = new BMap.Point(104.054832,30.672962);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
                //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
                //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"成都守望者科技有限公司",content:"微信推广、门户建站、APP开发<br/><br/>地址：成都市金牛区，西安中路8号，豪瑞新界A座4楼<br/>服务热线: 028-87525832",point:"104.054832|30.672962",isOpen:1,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });

            (function(){
            var index = i;
            var _iw = createInfoWindow(i);
            var _marker = marker;
            _marker.addEventListener("click",function(){
                this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                _marker.getLabel().show();
                })
            label.addEventListener("click",function(){
                _marker.openInfoWindow(_iw);
                })
            if(!!json.isOpen){
            label.hide();
            _marker.openInfoWindow(_iw);
            }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://localhost/watchmen_asia/Public/img/map_location.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>